In [2]:
# import the libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# ignore harmless warnings

import warnings
warnings.filterwarnings("ignore")
import pandasql as psql

# display all the columns in the dataset
pd.set_option("display.max_columns",None)

In [3]:
#  read the file

fuel=pd.read_csv(r"C:\Users\Dlc\Downloads\MY2021_Fuel_Consumption_Ratings_New.csv",header=0)

# create a backup file

fuel2=fuel.copy()

In [4]:
fuel.head()

,Unique_ID,Year,Make,Model,Vehicle_Class,Engine_Size,Cylinders,Transmission,Fuel_Type,Fuel_Consumption_city,Fuel_Consumption_Hwy,Fuel_Consumption_Comb,Fuel_Consumption_Comb_MPG,CO2_Emissions,CO2_Rating,Smog_Rating
0,PM5543,2021,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,199,6,3
1,ZK3091,2021,Acura,NSX,Two-seater,3.5,6,AM9,Z,11.1,10.8,11.0,26,256,4,3
2,ON9723,2021,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,232,5,6
3,XA4203,2021,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,242,5,6
4,KT5273,2021,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,230,5,7

In [5]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883 entries, 0 to 882
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unique_ID                  883 non-null    object
 1   Year                       883 non-null    int64
 2   Make                       883 non-null    object
 3   Model                      883 non-null    object
 4   Vehicle_Class              883 non-null    object
 5   Engine_Size                883 non-null    float64
 6   Cylinders                  883 non-null    int64
 7   Transmission               883 non-null    object
 8   Fuel_Type                  883 non-null    object
 9   Fuel_Consumption_city      883 non-null    float64
 10  Fuel_Consumption_Hwy       883 non-null    float64
 11  Fuel_Consumption_Comb      883 non-null    float64
 12  Fuel_Consumption_Comb_MPG  883 non-null    int64
 13  CO2_Emissions              883 non-null    int64
 14  CO2_Rating                 883 non-null    int64
 15  Smog_Rating                883 non-null    int64
dtypes: float64(4), int64(6), object(6)
memory usage: 110.5+ KB

In [7]:
# Display the duplicate values in the dataset

fuel.duplicated().any()

False

In [9]:
# Display the null values in the dataset

fuel.isnull().sum()

Unique_ID                    0
Year                         0
Make                         0
Model                        0
Vehicle_Class                0
Engine_Size                  0
Cylinders                    0
Transmission                 0
Fuel_Type                    0
Fuel_Consumption_city        0
Fuel_Consumption_Hwy         0
Fuel_Consumption_Comb        0
Fuel_Consumption_Comb_MPG    0
CO2_Emissions                0
CO2_Rating                   0
Smog_Rating                  0
dtype: int64

In [10]:
fuel.shape

(883, 16)

In [11]:
fuel.columns

Index(['Unique_ID', 'Year', 'Make', 'Model', 'Vehicle_Class', 'Engine_Size',
       'Cylinders', 'Transmission', 'Fuel_Type', 'Fuel_Consumption_city',
       'Fuel_Consumption_Hwy', 'Fuel_Consumption_Comb',
       'Fuel_Consumption_Comb_MPG', 'CO2_Emissions', 'CO2_Rating',
       'Smog_Rating'],
      dtype='object')

In [22]:
fuel=fuel.drop(['Unique_ID', 'Year', 'Make', 'Model', 'Vehicle_Class','Transmission', 'Fuel_Type','CO2_Rating',
       'Smog_Rating'],axis=1)
fuel

,Engine_Size,Cylinders,Fuel_Consumption_city,Fuel_Consumption_Hwy,Fuel_Consumption_Comb,Fuel_Consumption_Comb_MPG,CO2_Emissions
0,2.4,4,9.9,7.0,8.6,33,199
1,3.5,6,11.1,10.8,11.0,26,256
2,2.0,4,11.0,8.6,9.9,29,232
3,2.0,4,11.3,9.1,10.3,27,242
4,2.0,4,11.2,8.0,9.8,29,230
...,...,...,...,...,...,...,...
878,2.0,4,10.7,7.7,9.4,30,219
879,2.0,4,11.1,8.3,9.9,29,230
880,2.0,4,11.7,8.6,10.3,27,240
881,2.0,4,11.5,8.4,10.1,28,236
882,2.0,4,12.1,8.5,10.5,27,245

In [23]:
# identifying independent and target variable

IndepVar=[]
for col in fuel.columns:
    if col != 'CO2_Emissions':
        IndepVar.append(col)
TarVar='CO2_Emissions'
x=fuel[IndepVar]
y=fuel[TarVar]

In [24]:
# Split the data into train and test (random sampling)

from sklearn.model_selection import train_test_split 

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

# Display the shape for train & test data

x_train.shape,x_test.shape,y_train.shape,y_test.shape

((618, 6), (265, 6), (618,), (265,))

In [25]:
from sklearn.preprocessing import MinMaxScaler
mmscaler=MinMaxScaler(feature_range=(0 , 1))

# fit_transform(). It will calculate the mean(μ)and standard deviation(σ) of the feature
#F at a time it will transform the data points of the feature F.
#x_train[cols2]=mmscaler.fit_transform(x_train[cols2])
x_train=mmscaler.fit_transform(x_train)
x_train=pd.DataFrame(x_train)

#x_test[cols2]=mmscaler.fit_transform(x_test[cols2])
x_test=mmscaler.fit_transform(x_test)
x_test=pd.DataFrame(x_test)

In [27]:
# Load the result dataset

Result=pd.read_csv(r"C:\Users\Dlc\Downloads\RGRResults.csv",header=0)

Result.head()

Empty DataFrame
Columns: [Model Name, Mean_Absolute_Error_MAE, Adj_R_Square, Root_Mean_Squared_Error_RMSE, Mean_Absolute_Percentage_Error_MAPE, Mean_Squared_Error_MSE, Root_Mean_Squared_Log_Error_RMSLE, R2_score]
Index: []

In [28]:
# Build the Regression / Regressor models

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
#from sklearn.neighbors import KNeighborsRegressor
#from sklearn.linear_model import BayesianRidge
#from sklearn.svm import SVR

# Create objects of Regression / Regressor models with default hyper-parameters

ModelMLR = LinearRegression()
ModelDCR = DecisionTreeRegressor()
ModelRFR = RandomForestRegressor()
ModelETR = ExtraTreesRegressor()
#ModelKNN = KNeighborsRegressor(n_neighbors=5)
#ModelBRR = BayesianRidge()
#ModelSVR = SVR()

# Evalution matrix for all the algorithms

#MM = [ModelMLR, ModelDCR, ModelRFR, ModelETR, ModelKNN, ModelBRR, ModelSVR] 
MM = [ModelMLR, ModelDCR, ModelRFR, ModelETR]

for models in MM:
    
    # Fit the model with train data
    
    models.fit(x_train, y_train)
    
    # Predict the model with test data

    y_pred = models.predict(x_test)
    
    # Print the model name
    
    print('Model Name: ', models)
    
    # Evaluation metrics for Regression analysis

    from sklearn import metrics

    print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y_test, y_pred),3))  
    print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y_test, y_pred),3))  
    print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y_test, y_pred)),3))
    print('R2_score:', round(metrics.r2_score(y_test, y_pred),6))
    print('Root Mean Squared Log Error (RMSLE):', round(np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),3))
    
    # Define the function to calculate the MAPE - Mean Absolute Percentage Error

    def MAPE (y_test, y_pred):
        y_test, y_pred = np.array(y_test), np.array(y_pred)
        return np.mean(np.abs((y_test - y_pred) / y_test)) * 100
    
    # Evaluation of MAPE 

    result = MAPE(y_test, y_pred)
    print('Mean Absolute Percentage Error (MAPE):', round(result, 2), '%')
    
    # Calculate Adjusted R squared values 

    r_squared = round(metrics.r2_score(y_test, y_pred),6)
    adjusted_r_squared = round(1 - (1-r_squared)*(len(y)-1)/(len(y)-x.shape[1]-1),6)
    print('Adj R Square: ', adjusted_r_squared)
    print('------------------------------------------------------------------------------------------------------------')
    #-------------------------------------------------------------------------------------------
    new_row = {'Model Name' : models,
               'Mean_Absolute_Error_MAE' : metrics.mean_absolute_error(y_test, y_pred),
               'Adj_R_Square' : adjusted_r_squared,
               'Root_Mean_Squared_Error_RMSE' : np.sqrt(metrics.mean_squared_error(y_test, y_pred)),
               'Mean_Absolute_Percentage_Error_MAPE' : result,
               'Mean_Squared_Error_MSE' : metrics.mean_squared_error(y_test, y_pred),
               'Root_Mean_Squared_Log_Error_RMSLE': np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),
               'R2_score' : metrics.r2_score(y_test, y_pred)}
    Result = Result.append(new_row, ignore_index=True)
    #-------------------------------------------------------------------------------------------

Model Name:  LinearRegression()
Mean Absolute Error (MAE): 33.342
Mean Squared Error (MSE): 1234.76
Root Mean Squared Error (RMSE): 35.139
R2_score: 0.658488
Root Mean Squared Log Error (RMSLE): 3.559
Mean Absolute Percentage Error (MAPE): 13.31 %
Adj R Square:  0.656149
------------------------------------------------------------------------------------------------------------
Model Name:  DecisionTreeRegressor()
Mean Absolute Error (MAE): 34.453
Mean Squared Error (MSE): 1334.368
Root Mean Squared Error (RMSE): 36.529
R2_score: 0.630938
Root Mean Squared Log Error (RMSLE): 3.598
Mean Absolute Percentage Error (MAPE): 13.68 %
Adj R Square:  0.62841
------------------------------------------------------------------------------------------------------------
Model Name:  RandomForestRegressor()
Mean Absolute Error (MAE): 32.891
Mean Squared Error (MSE): 1211.762
Root Mean Squared Error (RMSE): 34.81
R2_score: 0.664849
Root Mean Squared Log Error (RMSLE): 3.55
Mean Absolute Percentage Error (MAPE): 13.15 %
Adj R Square:  0.662553
------------------------------------------------------------------------------------------------------------
Model Name:  ExtraTreesRegressor()
Mean Absolute Error (MAE): 32.543
Mean Squared Error (MSE): 1166.116
Root Mean Squared Error (RMSE): 34.148
R2_score: 0.677474
Root Mean Squared Log Error (RMSLE): 3.531
Mean Absolute Percentage Error (MAPE): 12.92 %
Adj R Square:  0.675265
------------------------------------------------------------------------------------------------------------

In [29]:
Result.head(10)

,Model Name,Mean_Absolute_Error_MAE,Adj_R_Square,Root_Mean_Squared_Error_RMSE,Mean_Absolute_Percentage_Error_MAPE,Mean_Squared_Error_MSE,Root_Mean_Squared_Log_Error_RMSLE,R2_score
0,LinearRegression(),33.341531,0.656149,35.139155,13.312276,1234.760240,3.559316,0.658488
1,DecisionTreeRegressor(),34.452830,0.628410,36.529001,13.679474,1334.367925,3.598106,0.630938
2,"(DecisionTreeRegressor(max_features=1.0, rando...",32.891074,0.662553,34.810373,13.151997,1211.762080,3.549915,0.664849
3,"(ExtraTreeRegressor(random_state=922211178), E...",32.543340,0.675265,34.148438,12.923207,1166.115836,3.530717,0.677474

In [30]:
y_predf=ModelETR.predict(x_test)

In [33]:
Results = pd.DataFrame({'CO2_A_F':y_test, 'CO2_P_F':y_pred})

# Merge two Dataframes on index of both the dataframes

ResultsFinal = fuel.merge(Results, left_index=True, right_index=True)

# Display 5 records randomly

ResultsFinal.sample(5)

,Engine_Size,Cylinders,Fuel_Consumption_city,Fuel_Consumption_Hwy,Fuel_Consumption_Comb,Fuel_Consumption_Comb_MPG,CO2_Emissions,CO2_A_F,CO2_P_F
162,3.6,6,12.8,8.1,10.7,26,251,251,222.55
880,2.0,4,11.7,8.6,10.3,27,240,240,209.41
651,4.0,8,14.5,9.0,12.0,24,282,282,251.31
52,4.0,8,17.6,10.7,14.5,19,339,339,296.25
842,2.5,4,8.7,6.9,7.9,36,184,184,159.98

In [35]:
# Calculate the % of Error

ResultsFinal['%Error'] = round(((ResultsFinal['CO2_A_F']-ResultsFinal['CO2_P_F'])/ResultsFinal['CO2_A_F'])*100,3)

In [36]:
ResultsFinal.sample(5)

,Engine_Size,Cylinders,Fuel_Consumption_city,Fuel_Consumption_Hwy,Fuel_Consumption_Comb,Fuel_Consumption_Comb_MPG,CO2_Emissions,CO2_A_F,CO2_P_F,%Error
40,5.2,10,17.6,12.0,15.1,19,353,353,302.89,14.195
694,2.0,4,8.2,6.2,7.3,39,171,171,147.94,13.485
655,1.5,3,8.8,6.4,7.7,37,180,180,155.64,13.533
77,4.4,8,14.0,9.7,12.0,24,281,281,250.39,10.893
258,1.5,3,9.3,8.3,8.9,32,209,209,178.92,14.392